.container {
    padding: 30px;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    color: #212121;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-container {
    display: grid;  
}

.grid-2-col {
    grid-template-columns: 3fr 1fr;
}

.grid-3-col {
    grid-template-columns: 1fr 2fr 1fr;
}